alembic==1.13.2
asgiref==3.8.1
beautifulsoup4==4.12.3
blinker==1.8.2
Brotli==1.1.0
build==1.2.2
CacheControl==0.14.0
certifi==2024.6.2
cffi==1.17.1
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
crashtest==0.4.1
crispy-bootstrap5==2024.2
distlib==0.3.8
dj-database-url==2.2.0
Django==5.0.6
django-cors-headers==4.4.0
django-crispy-forms==2.1
djangorestframework==3.15.1
dulwich==0.21.7
fastjsonschema==2.20.0
filelock==3.13.4
Flask==3.0.3
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
gunicorn==22.0.0
idna==3.7
installer==0.7.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
Jinja2==3.1.4
keyring==24.3.1
Mako==1.3.5
MarkupSafe==2.1.5
more-itertools==10.5.0
msgpack==1.1.0
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pexpect==4.9.0
pillow==10.3.0
pkginfo==1.11.1
platformdirs==4.2.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pycparser==2.22
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
RapidFuzz==3.10.0
requests==2.32.3
requests-toolbelt==1.0.0
shellingham==1.5.4
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.35
sqlparse==0.5.0
tomlkit==0.13.2
trove-classifiers==2024.9.12
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.25.1
Werkzeug==3.0.4
whitenoise==6.6.0
WTForms==3.1.2
xattr==1.1.0
